[Unit]
Description=This service will start serverWebUI at system startup

[Service]
User=root
WorkingDirectory={$DIR}
ExecStart=start.sh -p {PORT} -w {WORKERS}

[Install]
WantedBy=default.target
