.body{
    background-color: rgb(31, 31, 31);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#wrapper {
    min-width: 570px;
    padding-top: 20px;
    padding-bottom: 5px;
    align-content: center;
    display: flex;
    gap: 20px;
}
.rectangle {
    width: 100%;
    height: 540px;
    background: rgb(48, 48, 48);
    border-radius: 16px;
    padding: 14px;
    position: relative;
    display: inline-block;
    min-width: 400px;
}
.resources-container{
    color: white;
}
.values-text{
    font-size:1vw 
}
.box-titles{
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.temp-wrapper{
    position: relative;
    margin: auto;
    top: 10px;
    height: 250px;
    white-space: nowrap;
    display: flex;
    gap: 10px;
}
.disk-na{
    color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}
.dot {
    width: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    position: relative;
    aspect-ratio: 1 / 1;
    margin: auto;
}
.circle-values{
    font-size: 34px;
    text-align: center;
    font-weight: bold;
}
.circle-titles{
    position: absolute;
    font-size: 20px;
    bottom: 15px;
}
.resources-circles{
    display: flex;
    position: relative;
    width: 100%;
}
.temp-rectangle{
    width: 100%;
    height: 200px;
    background: rgb(31, 31, 31);
    position:relative;
    border-radius: 12px;
    padding: 10px;
    overflow-y: overlay;
    display: inline-block;
    scrollbar-width:thin;
}
.mini-box-title{
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
}
.mini-box-values{
    font-size: 20px;
    padding: bottom 5px;
    position: absolute;
    left: 20px;
}
.raid-box{
    width: 95%;
    height: 53%;
    background: rgb(31, 31, 31);
    bottom: 0.5rem;
    border-radius: 12px;
    padding: 10px;
    overflow: overlay;
    color: white;
    font-size: x-large;
    font-weight: normal;
    position: relative;
    scrollbar-width:thin;
}
.storage-box{
    position: absolute;
    left: 1%;
    bottom: 10px;
    padding: 14px;
    color: white;
    width: 100%;
    right: 10%;
}
.pool-info-container{
    display: flex;
    width: 100%;
}
.pool-info-titles{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
    display: flex;
}
.pool-info-values{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: normal;
    color: white;
    display: flex;
    padding-left: 10px;
}
.storage-bar{
    height: 30px;
    text-align: center;
    appearance: none;
    border-radius: 5px;
    border: 0;
    width: 93.5%;
}
.storage-info-bar{
    height: 40px;
    text-align: center;
    appearance: none;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
progress::-webkit-progress-bar {
    height: 100%;
    text-align: center;
    appearance: none;
    border: 0;
    border-radius: 5px;
}
progress::-webkit-progress-value {
    height: 100%;
    text-align: center;
    appearance: none;
    border: 0;
    background-color: rgb(54, 73, 247);
    border-radius: 5px;
}
progress::-moz-progress-bar {
    height: 100%;
    text-align: center;
    appearance: none;
    border: 0;
    background-color: rgb(54, 73, 247);
    border-radius: 5px;
}
.perc-used {
    font-size: 18px;
    padding-top: 5px;
    font-weight: normal;
    color: white;
    padding-left: 10px;
}
.sysinfo-values {
    padding-bottom: 5px;
    font-weight: normal;
    color: white;
    padding-left: 10px;
    font-size: x-large;
    background-color: rgb(31, 31, 31);
    margin-bottom: 10px;
}
.sysinfo-box-title {
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.shut-button {
    background-color: #dc3545;
}
.shut-button:hover {
    background-color: #bb2d3b;
    cursor: pointer;
}
.restart-button {
    background-color: #ffc107;
}
.restart-button:hover {
    background-color: #ffca2c;
    cursor: pointer;
}
.system-box{
    width: 93%;
    border-radius: 12px;
    position: relative;
    margin: auto;
    top: 10px;
}
.form-control-search{
    height: 50;
    font-size: 20px;
    border: 2px solid #0d6efd;
    border-radius: 4px;
    width: 89%;
    min-width: 400px;
    position: relative;
    margin: auto;
}
.searchform{
    width: 45%;
    min-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}
.search-button {
    padding-top: 3px;
    height: 50;
    width: 50;
    font-size: 20px;
    background-color: #0d6efd;
    border-radius: 5px;
    border: 0;
    color:white;
    position: absolute;
    margin-left: 5px;
}
.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    margin: auto;
}
.search-button:hover {
    background-color: #0b5ed7;
    cursor: pointer;
}
.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: white;
    font-weight: 600;
}
.date {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: white;
}
.link-container{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 56px;
}
.links_wrapper {
    width: 95%;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow-x: overlay;
    height: 100%;
    padding-left: 15px;
    font-size: large;
    scrollbar-width:thin;
}
.link-grid-container {
    border: 2px solid;
    width: 55%;
    height: 90%;
    margin: auto;
    background-color: rgb(48, 48, 48);
    overflow: overlay;
    border-radius: 10px;
    padding: 14px;
    min-width: 670px;
    scrollbar-width:thin;
}
.title {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.home-icon {
    color: white;
    position: relative;
    left: 10px;
    top: 10px;
}
.home-icon:hover {
    color: rgb(158, 216, 255);
    cursor: pointer;
}
.link-table {
    color: black;
    width: 100%;
    margin-top: 5px;
    background-color: white;
}
th, td,tr, table {
    border-collapse: collapse;
    background-color: rgb(31, 31, 31);
    color: white;
    border: 0;
    padding-top: 5px;
}
.del-btn{
    background-color: rgb(31, 31, 31);
    border: 0;
    color: white 
}
.del-btn:hover{
    color:#00b7ff 
}
.del-btn2{
    height: 20px;
    width: 20px;
    font-size: 20px;
}
.pool-selector{
    position: relative;
    height: 30px;
    width: 150px;
    background-color:rgb(31, 31, 31);
    border: 2px solid grey;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.pool-selector:hover{
    border-color:rgba(137, 218, 255, 0.822);
    cursor: pointer;
}
.link{
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);}
.link:hover{
    color: #00b7ff;
}
.link:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(54, 73, 247);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.edit-button{
    width: 56px;
    height: 56px;
    background-color: #0d6efd;
    border: 1px;
    border-radius: 8px;
}
.edit-button:hover{
    cursor: pointer;
    background-color: #0b5ed7;
}
.edit-icon{
    size: 20px;
    color: white;
}
.slidecontainer {
    width: 100%;
    right: 1;
}
.slider {
    width: 50%;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 7px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0b5ed7;
    cursor: pointer;
    border-radius: 50%;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #0b5ed7;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}
.slider::-moz-range-thumb:hover {
    transition: opacity .2s;
    -webkit-transition: .2s;
    border: none;
    border: none;
}
.slider::-webkit-slider-thumb:hover {
    transition: opacity .2s;
    -webkit-transition: .2s;
    border: none;
}
.setting-div{
    width: 100%;
    margin: auto;
    position: relative;
    padding: 15px;
}
.setting-title{
    font-size: large;
    color: white;
}
.setting-desc{
    color: rgb(211, 211, 211);
    font-size: small;
    margin-bottom: 10px;
}
.number{
    width: 70px;
}
.btn-div{
    margin-bottom: 10px;
}
.log-selector{
    height: 30px;
    width: 200px;
    background-color:rgb(31, 31, 31);
    border: 2px solid grey;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.log-selector:hover{
    border-color:rgba(137, 218, 255, 0.822);
    cursor: pointer;
}
.settings-container{
    border-radius: 12px;
    width: 90%;
    margin: auto;
    height: 85%;
    background-color: rgb(31, 31, 31);
    min-height: 550px;
}
.settings-btn{
    background-color: #0d6efd;
}
.settings-btn:hover{
    background-color: #0b5ed7;
    cursor: pointer;
}
.box-na{
    color: grey;
    font-size: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 460px;
    align-items: center;
    background-color: rgb(31, 31, 31);
    border-radius: 12px;
}
.raid-text{
    right: 80px;
    position: relative;
}
.fan-rectangle{
    height: 14%;
    background-color: rgb(31, 31, 31);
    border-radius: 12px;
    position: relative;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 50px;
    overflow-y: overlay;
    font-size: large;
    scrollbar-width:thin;
    overflow-x: hidden;
}
.fan{
    position: relative;
    top: 25px;
    left: 15px;
    margin-bottom: 25px;
    height: fit-content;
    min-width: 45%;
    display: flex;
    gap: 15px;
}
.fan-title{
    position: relative;
    font-weight: bold;
    margin: auto;
}
.fan-value{
    position: relative;
    margin: auto;
}
.toggles{
    position: absolute;
}
.radio-text{
    color: white;
    font-size: 20px;
}
.radio-btn{
    height: 20px;
    width: 20px;
}
.smart-table{
    color: white;
    width: 100%;
    top: 10px;
    background-color: rgb(31, 31, 31);
    position: relative;
    border: 3px rgb(155, 155, 155);
    overflow: overlay;
    height: 95%;
    scrollbar-width:thin;
}
.smart-tr{
    background-color: rgb(31, 31, 31);
    border: 3px rgb(155, 155, 155) 
}
.smart-td{
    font-size: 14px;
    color: white;
    background-color: rgb(31, 31, 31);
    border: 2px solid black;
}
.smart-tr:hover{
    background-color: rgb(48, 48, 48);
}
.smart-th{
    border-collapse: collapse;
    text-align:center;
    padding: 5px;
    border: 2px solid rgb(155, 155, 155) 
}
.storage-box-wrapper{
    overflow: overlay;
    height: 500px;
    scrollbar-width:thin;
}
.storage-title-container{
    display: flex;
    height: 3rem;
    white-space: nowrap;
    overflow-x: overlay;
    overflow-y: hidden;
    scrollbar-width: thin;
}
.radio-form{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-container{
    height: 70px;
    width: fit-content;
}
.link-table-container{
    height: 85%;
    width: 100%;
    background-color: rgb(31, 31, 31);
    position: relative;
    border-radius: 8px;
    padding: 8px;
    top: 10px;
    margin: auto;
    display: table;
}
.edit-btn{
    background-color: rgb(31, 31, 31);
    color: white;
    border: 0;
}
.edit-btn:hover{
    color:#00b7ff 
}
.gpu-dot-title-scrollable{
    position: relative;
    font-size: 15px;
}
.left-arrow{
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    display: inline-block;
}
.left-arrow:hover{
    border: solid #00b7ff;
    border-width: 0 3px 3px 0;
    cursor: pointer;
}
.right-arrow{
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    display: inline-block;
}
.right-arrow:hover{
    border: solid #00b7ff;
    border-width: 0 3px 3px 0;
    cursor: pointer;
}
.name-column{
    width: 200px;
}
.url-column{
    width: 620px;
}
.apply-icon{
    color: white;
}
.apply-icon:hover{
    color: #00b7ff;
}
.apply-button{
    background: 0;
    border: 0;
}
.apply-button:hover{
    cursor: pointer;
}
.link-err{
    color: red;
    padding-bottom: 10px;
}
.disk-wrapper{
    padding: 10px;
}
.disk-stats{
    color: white;
    position: relative;
    top: 5px;
}
.smart-na{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: grey;
}
.alert-container{
    position: relative;
    white-space: nowrap;
    bottom: 5px;
    color: red;
    font-size: large;
    font-weight: bold;
}
.button-column{
    min-width: 70px;
}
.resources-details{
    position: absolute;
    bottom: -50px;
    margin: auto;
    text-align:center;
    width: 100%;
    font-size: medium;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: thin;
}
.dot-container{
    position: relative;
    margin: auto;
    display: flex
}
.sysinfo-smallbox{
    position: relative;
    background-color: rgb(31, 31, 31);
    height: 130px;
    border-radius: 12px;
    display: flex;
    margin-bottom: 10px;
}
.os-logo{
    position: relative;
    height: 100px;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}
.sysinfo-data{
    position: relative;
    color: white;
    font-size: large;
}
.os-data-container{
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}
.btn-container{
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: end;
    top: 10px;
}
.sysbox-buttons{
    height: 50px;
    width: 50px;
    border: 0;
    position: relative;
    right: 0;
    border-radius: 12px;
    color: white;
}
@media screen and (max-width: 1640px) {
    .circle-values {
        font-size: 28px;
    }
}
.fan-element{
    position: relative;
    white-space: nowrap;
}