<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Dashboard - Settings</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <script src="/static/bootstrap.js"></script>
    <script src="/static/script2.js"></script>
</head>

<body class="body">
    <div class="home-container">
        <a href="/">
            <button class="home-button"><i class="fa fa-home fa-3x home-icon"></i></button>
        </a>
    </div>
    <div class="link-grid-container">
        <span class="title">Edit Bookmarks</span>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Bookmark
            </button>
            <button type="button" class="btn btn-primary" id="del-all-btn">
                <i class="fa fa-trash" aria-hidden="true"></i>  
                Delete all Bookmarks
            </button>
        </div>
        <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Bookmark</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" >
                <form id="newlink-form">
                    <label for="link-name">Name:</label><br>
                    <input type="text" id="link-name"  placeholder="Example" autocomplete="off" autofocus minlength="1"><br>
                    <label for="link-url">URL (use full link starting with http://):</label><br>
                    <input type="text" id="link-url"  placeholder="https://example.com" autocomplete="off" minlength="1" >
                    <div class="modal-footer" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        <div class="link-table-container">
            <table class="link-table" id="link-table" border="1">
                <tr>
                </tr>
                <tr>
                    <!--link table-->
                </tr>
            </table>
        </div>
    </div>
</body>