<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <script src="/static/font-awesome.js"></script>
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon">
    <script src="/static/update.js"></script>
</head>
<body class="body">
    <div class="time-date">
        <span class="time" id="time">time</span>
        <span class="date" id="date">date</span>
    </div>
    <div class="search-div">
        <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
            <input autocomplete="on" class="form-control-search" name="q" placeholder="Search Google" required="required" type="text">
            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="link-container">
        <div class="links_wrapper" id="links_wrapper"></div>
        <a href="/edit_links"><button class="edit-button"><i class="fa fa-pencil-square-o fa-2x edit-icon" aria-hidden="true"></i></button></button></a>
    </div>
    <div id="wrapper">
        <div class="rectangle">
            <div class="sysinfo-box-title">System information</div>
            <div class="system-box" id="system-box">
                <div class="sysinfo-smallbox" id="os-info">
                    <img src="/static/logos/x.svg" class="os-logo" id="os-logo"></img>
                    <div class="os-data-container">
                        <div class="sysinfo-data" id="os-name"></div>
                        <div class="sysinfo-data" id="kernel-name"></div>
                        <div class="sysinfo-data" id="packages"></div>
                    </div>
                </div>
                <div class="sysinfo-smallbox" id="os-info">
                    <img src="/static/logos/server.png" class="os-logo"></img>
                    <div class="os-data-container">
                        <div class="sysinfo-data" id="host"></div>
                        <div class="sysinfo-data" id="uptime"></div>
                        <div class="sysinfo-data" id="processes"></div>
                    </div>
                </div>
                <div class="sysinfo-smallbox" id="network-info">
                    <img src="/static/logos/network.png" class="os-logo"></img>
                    <div class="os-data-container">
                        <div class="sysinfo-data" id="interface"></div>
                        <div class="sysinfo-data" id="ip"></div>
                        <div class="sysinfo-data" id="netio"></div>
                    </div>
                </div>
                <div class="btn-container">
                    <button id="shut-btn" class="sysbox-buttons shut-button"><i class="fa fa-power-off fa-2x"></i></button>
                    <button id="restart-btn" class="sysbox-buttons restart-button"><i class="fa fa-refresh fa-2x"></i></button>
                    <a href="/settings"><button class="sysbox-buttons settings-btn"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></button></a>
                </div>
            </div>
        </div>
        <div class="rectangle">
            <div class="storage-title-container">
                <span class="box-titles" style="padding-bottom: 20px; margin-right: 10px;">Storage</span>
                <span>
                    <form class="radio-form">
                </span>
                <span class="form-check">
                    <input class="form-check-input radio-btn" type="radio" name="flexRadioDefault" id="storage-radio" value="storage" checked>
                    <label class="form-check-label radio-text" for="flexRadioDefault2">
                    Disks
                    </label>
                </span>
                <span class="form-check" style="float: none;">
                    <input class="form-check-input radio-btn" type="radio" name="flexRadioDefault" id="zpool-radio" value="zpool">
                    <label class="form-check-label radio-text" for="flexRadioDefault1">
                    ZFS Pool
                    </label>
                </span>
                <span class="form-check">
                    <input class="form-check-input radio-btn" type="radio" name="flexRadioDefault" id="smart-radio" value="smart">
                    <label class="form-check-label radio-text" for="flexRadioDefault2">
                    SMART
                    </label>
                    </span>
                    </form>
                </span>
            </div>
            <div class="storage-box-wrapper" id="storage-box-wrapper">
            </div>
        </div>
        <div class="rectangle">
            <div class="resources-container">
                <div class="box-titles">Resources</div>
                <div class="resources-circles">
                    <div id="dot" class="dot">
                        <span id="cpu_util_div" class="circle-values"></span>
                        <span class="circle-titles">CPU</span>
                        <div class="resources-details" id="cpu-name"></div>
                    </div>
                    <div id="ram-dot" class="dot">
                        <span id="ram_util_div" class="circle-values"></span>
                        <span class="circle-titles">RAM</span>
                        <div class="resources-details" id="ram-usage"></div>
                    </div>
                    <div id="gpu-dot" class="dot">
                        <span id="gpu_util_div" class="circle-values"></span>
                        <span class="circle-titles" id="gpu-dot-title">GPU</span>
                        <div class="resources-details" id="gpu-name"></div>
                    </div>
                    <div id="vram-dot" class="dot">
                        <span id="vram_util_div" class="circle-values"></span>
                        <span class="circle-titles" id="vram-dot-title">VRAM</span>
                        <div class="resources-details" id="vram-usage"></div>
                    </div>
                </div>
                <div class="fans-wrapper">
                    <div class="fan-rectangle" id="sys-fan-container"></div>
                    <div class="fan-rectangle" id="gpu-fan-container"></div>
                </div>
                <div class="temp-wrapper">
                    <span class="temp-rectangle" id="pwr-rectangle">
                        <div class="mini-box-title">Power draw</div>
                        <div class="mini-box-title">CPU:</div>
                        <div id="cpu-pwr-div" class="mini-box-values"></div>
                        <div id="initial-gpu-pwr-container">
                            <div class="mini-box-title" style="padding-top: 30px;">GPU:</div>
                            <div id="gpu-pwr-div" class="mini-box-values"></div>
                        </div>
                    </span>
                    <span class="temp-rectangle" id="temp-rectangle">
                        <div class="mini-box-title">Temps</div>
                        <div class="mini-box-title">CPU:</div>
                        <div id="cpu-temp-div" class="mini-box-values"></div>
                        <div id="initial-gpu-temp-container">
                            <div class="mini-box-title" style="padding-top: 30px;" id="gpu-temp-title">GPU:</div>
                            <div id="gpu-temp-div" class="mini-box-values"></div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>